{% extends "users.tpl" %}

{% block main %}

<div class="profile">
<img src="{{project.gravatar_url}}&s=120">
<h2>{{project.display_name}}</h2>

{% if empty %}
<p class="nosnippets">
No snippets have been submitted for this project yet - consider sumbitting some!
</p>
{% endif %}
</div>
{% for week in weeks %}
<div class="week">
<h4{% if week.snippet %} class="snippet"{% endif %}>
<a href="/team/{{week.date|date:"U"}}" class="cal"><img src="/images/calendar{% if not week.snippet %}_fade{% endif %}.png"></a>
{% if week.date|date:"F" == week.end_date|date:"F" %}
{{week.date|date:"l jS"}} to {{week.end_date|date:"l jS M Y"}}
{% else %}
{% if week.date|date:"Y" == week.end_date|date:"Y" %}
{{week.date|date:"l jS M"}} to {{week.end_date|date:"l jS M Y"}}
{% else %}
{{week.date|date:"l jS M Y"}} to {{week.end_date|date:"l jS M Y"}}
{% endif %}
{% endif %}
{% if week.snippet %}
<a href="#" class="edit">Edit</a>
{% else %}
<a href="#" class="edit">Add</a>
{% endif %}
</h4>
<form action="/save" method="post" class="snippet hidden">
  <input type="hidden" name="project_tag" value="{{project.key.name}}">
  <input type="hidden" name="date" value="{{week.date|date:"U"}}">
  <textarea name="content"></textarea>
  <input type="submit" value="Save">
</form>
{% if week.snippet %}
  <pre class="snippet">{{week.content}}</pre>
{% endif %}
</div>


{% endfor %}

{% endblock %}
